@font-face {
	font-family:'TheMix-light';
	font-weight:normal;
    font-style:normal;
	src:url('/~/media/Files/R/Rolls-Royce/fonts/themix-300/themix-300-eot.eot');
	src:url('/~/media/Files/R/Rolls-Royce/fonts/themix-300/themix-300-eot.eot?#iefix') format('embedded-opentype'), url('/~/media/Files/R/Rolls-Royce/fonts/themix-300/themix-300-woff.woff') format('woff'), url('/~/media/Files/R/Rolls-Royce/fonts/themix-300/themix-300-svg.svg#/~/media/Files/R/Rolls-Royce/fonts/themix-300/themix-300-svg') format('svg');
}
@font-face {
	font-family:'TheMix';
	font-weight:normal;
    font-style:normal;
	src:url('/~/media/Files/R/Rolls-Royce/fonts/themix-500/themix-500-eot.eot');
	src:url('/~/media/Files/R/Rolls-Royce/fonts/themix-500/themix-500-eot.eot?#iefix') format('embedded-opentype'), url('/~/media/Files/R/Rolls-Royce/fonts/themix-500/themix-500-woff.woff') format('woff'), url('/~/media/Files/R/Rolls-Royce/fonts/themix-500/themix-500-svg.svg#/~/media/Files/R/Rolls-Royce/fonts/themix-500/themix-500-svg') format('svg');
}
@font-face {
	font-family:'TheMix-bold';
	font-weight:normal;
    font-style:normal;
	src:url('/~/media/Files/R/Rolls-Royce/fonts/themix-700/themix-700-eot.eot');
	src:url('/~/media/Files/R/Rolls-Royce/fonts/themix-700/themix-700-eot.eot?#iefix') format('embedded-opentype'), url('/~/media/Files/R/Rolls-Royce/fonts/themix-700/themix-700-woff.woff') format('woff'), url('/~/media/Files/R/Rolls-Royce/fonts/themix-700/themix-700-svg.svg#/~/media/Files/R/Rolls-Royce/fonts/themix-700/themix-700-svg') format('svg');
}
@font-face{
   font-family:'icons'; 
   font-weight:normal; 
   src:url('/~/media/Files/R/Rolls-Royce/fonts/icon/icomoon-eot.eot?#iefix') format('embedded-opentype'), url('/~/media/Files/R/Rolls-Royce/fonts/icon/icomoon-ttf.ttf') format('truetype'); 
   }

.mob-menu, .better-business-no:after,.better-business-yes:after,.better-future-yes:after,.better-future-no:after,.better-power-yes:after,.better-power-no:after, li.firstPage a, li.lastPage a, li.prev a, li.next a, .snapdown-right {background-image:url(/~/media/Images/R/Rolls-Royce/css/sprite.png); background-repeat:no-repeat;}

#MainWrapper{margin:0 auto; width:100%;background:#f6f6f6;padding:0;}
.invisible{position:absolute; left:-9999999px; top:auto; width:1px; height:1px; overflow:hidden; visibility:visible;}
.MainWrapperInner{max-width:970px;padding:0px 20px;margin:0 auto;position:relative;}
.visible-desktop{display:block !important;}
.visible-tablet,.visible-mobile{display:none !important;}
/*-------------- Main Body CSS Starts --------------*/
body{background:#f6f6f6; font-family:'Arial',Helvetica,sans-serif; font-size:87.5%; line-height:1.5em; color:#5b5b5b;}
a{color:#004d91; text-decoration:underline;-webkit-transition: all 0.25s ease;-ms-transition: all 0.25s ease;-moz-transition: all 0.25s ease;-o-transition: all 0.25s ease;transition: all 0.25s ease;-webkit-backface-visibility: hidden;}
a:hover{color:#002445;}
a:focus, a:active{border:none; outline:none; _noFocusLine:expression(this.hideFocus=true);}
a.button:focus,a.button:active,a.btn:focus,a.btn:active,a.btn-white:focus,a.btn-white:active,a.btn-blue:focus,a.btn-blue:active{border:1px solid;}
a[href^="tel:"]{cursor:default; text-decoration:none; color:#5e5e5e;}
a[href^="tel:"]:hover{color:#5e5e5e !important;}
.hide{display:none;}
img{outline-style:none;outline-width:0;border:0 none;}
sup{font-size:smaller;}
sub{margin:2px 0; padding:2px 0;}
ul{list-style-image:none; list-style-position:outside; list-style-type:none;}
ol{list-style-image:none; list-style-position:outside; padding-left:25px;}
/*ol li{margin-bottom:10px;}*/
hr{border-style:none none solid; border-width:0 0 1px; margin:5px 0;}
:active{outline-style:none; outline-width:0;}
*{margin:0; padding:0;}
p{padding:0 0 15px;margin:0;}
h1,.h1{font-size:1.714em; line-height:1.2em; padding:0 0 10px;color:#004d91; font-family:'TheMix';font-weight:normal;}
h2,.h2{font-size:1.571em; line-height:1.2em; padding:0 0 10px;color:#004d91; font-family:'TheMix';font-weight:normal;}
h3,.h3,h2.rad-header{font-size:1.429em; line-height:1.2em; padding:0 0 10px;color:#004d91; font-family:'TheMix';font-weight:normal;}
h4,.h4{font-size:1.286em; line-height:1.2em; padding:0 0 10px;color:#004d91; font-family:'TheMix';font-weight:normal;}
h5,.h5{font-size:1.143em; line-height:1.2em; padding:0 0 10px;color:#004d91;text-transform:uppercase;}
h6,.h6{font-size:1.071em; line-height:1.2em; padding:0 0 10px;color:#004d91;text-transform:uppercase;}
address{font-style:normal;}
iframe{border:0;background:none;}
iframe.responsive-frame{width:100%; height:100%;}
#iframe-container{min-height:200px;}

table{width:100%; margin-bottom:14px; border:none; border-collapse:collapse; }
caption, th, td{text-align:left; vertical-align:top; padding:7px 9px; }
thead td, thead th{font-weight:normal; background:#f6f6f6; }
tbody td, tbody th{border-top:2px solid #ffffff; background:#e7eff6; }
tbody th{font-weight:normal; color:#004d91; }
table.rad-financialtable td,table.rad-financialtable th{text-align:right;}
table.rad-financialtable td:first-child,table.rad-financialtable th:first-child{text-align:left;}
.scroll-table-container table{margin-bottom:5px;}
.scroll-table-container {width:100%;float:left;padding:0 0 5px;overflow-y:hidden;overflow-x:auto;margin-bottom: 14px;}
.scroll-table-container::-webkit-scrollbar {-webkit-appearance:none;width:10px;height:10px;}
.scroll-table-container::-webkit-scrollbar-thumb {border-radius: 8px;border: 2px solid #004d91;background-color: #004d91;}
.inv-responsive-data-header{font-weight:bold;}
.inv-responsive-data-content{text-align:right;}
.inv-responsive-header-tr td{background:#004d91;color:#fff;}
span.nowrap{white-space:nowrap;}
.no-wrap{white-space: nowrap;}
tbody td.alignCenter, tbody th.alignCenter {text-align: center;}

.rad-highlight{background:#ECF2F4;padding:7px 20px;display:block;margin-bottom: 10px;}
#contentwrapper ul.rad-border{padding:0; list-style:none; }
#contentwrapper ul.rad-highlight{padding-left:26px;}
#contentwrapper .rad-border > li,#contentwrapper ul.rad-highlight>li{margin-top:-1px; padding:10px 0; border-top:1px dotted #a7a9ac; }
ul.rad-highlight li:first-child{border:0;}
#contentwrapper ul.rad-border li a img{margin-right:15px;}

.rad-notes{text-align:left;}
.rad-notes :after{clear:both; display:block; content:"";}

input[type=url], input[type=text], input[type=date], input[type=email], select, textarea{padding:5px; border:1px solid #cccccc; font-weight:normal; font-family:sans-serif; -webkit-border-radius:0;line-height:1.1em; }
input[type=url], input[type=text], input[type=date], input[type=email], select, textarea{color:#5b5b5b; background:#f6f6f6;font-size:18px; }
input[type=url]:focus, input[type=text]:focus, input[type=date]:focus, input[type=email]:focus, select:focus, textarea:focus{color:#5e5e5e; outline:1px solid rgba(35, 180, 175, 0.35); outline-offset:0; }
input[type=url].error, input[type=text].error, input[type=date].error, input[type=email].error, select.error, textarea.error{border-color:#cc0000; -webkit-box-shadow:0 0 5px #cc0000; -moz-box-shadow:0 0 5px #cc0000; box-shadow:0 0 5px #cc0000; }
button, .button, input[type=reset], input[type=button], input[type=submit] {display: inline-block;padding: 5px;border: 1px solid;font-weight: 400;font-family: "TheMix", Arial, sans-serif;white-space: nowrap;text-transform: uppercase;text-decoration: none;-webkit-appearance: none;border-radius: 0;line-height: 1.2em;}

a.unstyled, .unstyled-links a {color: inherit !important;text-decoration: none !important;}
.unstyled{color: inherit !important;}
.twocolright a[title="Opens in a new window"]:not(.button){background: url(/~/media/Images/R/Rolls-Royce/css/new-window-icon.png) no-repeat right top;padding-right:17px;}
.twocolright a[title ^="PDF,"]{background: url(/~/media/Images/R/Rolls-Royce/css/pdf-link-icon) no-repeat right top;padding-right:20px;padding-bottom: 4px;}
.twocolright a.rad-clear[title="Opens in a new window"]{background:none;}
/*-------------- Main Body CSS Ends --------------*/


/*-------------- Header CSS Starts --------------*/
#headerwrapper{padding:10px 0 20px 0;}
#logo .logo-inner img{max-width:208px; height:auto;}
.logo-inner{padding:26px 0px 0;}
#header{background:#fff;}
.share-ticker-container {float: left;padding:5px 10px 0;}
#headerlinks{overflow:hidden;float: left;padding: 2px 15px 0;}
#headerlinks>a,#headerlinks a:hover{text-decoration:none;}
#searchbox,#searchinnerRP {float: left;background: #eeefef;margin:3px 0;}
#searchcontainer{clear:both; float:right; height:27px; margin:10px 0 0; overflow:hidden;}
#searchTextboxContainer,#searchTextBoxContainerRP{float:left;}
#searchTextboxContainer input,#searchTextBoxContainerRP input{width:112px;height:27px;border:0;background:transparent;padding:5px;}
#searchTextBoxContainerRP input{width: 231px;}
#SearchButtonContainer,#searchButtonContainerRP{float:left;}
#SearchButtonContainer input,#searchButtonContainerRP input{height:27px; width:32px;text-indent:-999999px;overflow:hidden;border:0;background:transparent;background:url(../images/search.png) no-repeat center;}
/*-------------- Header CSS Ends --------------*/
/*-------------- Top Navigation CSS Starts --------------*/
#topnavigation{clear:both; font-family:'TheMix';}
#topnavigation ul{float:left;}
#topnavigation ul li{float:left;padding:11px 11px 0px;text-transform:uppercase;color:#004d91;font-size:14px;}
#topnavigation ul li.last{padding-right:0;}
#topnavigation ul li a{text-decoration:none;}
#topnavigation ul li a:hover{color:#004d91;}
.mob-menu{display:none;}
.mob-menu-wrap>ul {display: none;}
#menu-links,.country-text{display:none}

/*------ PJ:(09-01-2015) Because we want the contact page to be displayed in mobile menu -------*/
#topnavigation #nav-contact-us-level1, #topnavigation #nav-country-sites-level1{display:none;}
/*------ PJ:(09-01-2015) End -------*/

/*---- PJ:(09-01-2015) Because we don't want padding on the right side and we don't have Ip3 generated LAST class ---*/
#topnavigation #nav-media-level1{padding-right:0;}
/*------ PJ:(09-01-2015) End -------*/

/*-------------- Top Navigation CSS Ends --------------*/
/*-------------- Breadcrumb CSS Starts --------------*/
#breadcrumb{margin:0 0 10px;font-size:0.857em;padding-left:20px;}
#breadcrumb a{color:#004c91;padding:0 5px 0 0; float:left;}
#breadcrumb a:first-child {padding-left:0;}
#breadcrumb span{color:#004c91; float:left; padding:0;}
#breadcrumb span.separator{padding:0 5px 0 0;}
/*-------------- Breadcrumb CSS Ends --------------*/
/*pagination*/
li.firstPage a{width:30px; height:20px; display:block; background-position:right -94px;}
li.lastPage a{width:30px; height:20px; display:block; background-position:right -146px;}
li.firstPage a img, li.lastPage a img, li.prev a img, li.next a img{display:none;}
li.prev a{width:20px; height:20px; display:block; background-position:right 5px; margin-right:12px;}
li.next a{width:25px; height:20px; display:block; background-position:right -46px;}


/*pagination*/

/*-------------- Search page CSS Starts --------------*/
#fullcolumn{float:left; width:100%;}
#searchContainerRP {float: left;width: 100%;}
#searchFilter {clear: both;padding:10px 0;}
.ip3search_highlight{font-weight:bold;}
table.searchTable{width: 100%; word-break:break-all; clear:both;}
table.searchTable tbody tr th{ text-align:left; height:22px;}
#tabs.sectionTabs{float:left; position:relative; width:100%; padding:0 0 0px;min-height: 39px;}
#tabs.sectionTabs ul{ float:left; list-style:none outside none; padding:0; margin:0; width:100%;}
#tabs.sectionTabs li{float:left; padding:0;margin: 0 4px 0 0; }
#tabs.sectionTabs li.lastLI{}
#tabs.sectionTabs li a span{display:block; text-align:center;}
#tabs.sectionTabs li a{display:block; padding:10px; text-align:center; background-color:#86BAD6;color:#fff;text-decoration:none;}
#tabs.sectionTabs li.current a, #tabs.sectionTabs li a:hover{background-color:#fff;color:#5B5B5B;}
#tabsDD{height:35px; font-size:1em; width:180px;cursor:pointer;}
#tabs.sectionTabs span.select{position:absolute; font-size:1em; top:0; left:0; height:35px; color:#5e5e5e; padding:11px 15px 10px 5px; background:url("/~/media/Images/R/Rolls-Royce/css/searchTab-dd.png") no-repeat scroll 96% 15px #fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; *behavior:url("/~/media/Files/R/Rolls-Royce/htc-files/boxsizing.htc");}
.searchresultpage tbody td{border-bottom:2px solid #b8d3e5; border-top:0; background:#fff; padding-left:20px;}
.searchresultpage table{clear:both;}
/*-------------- Search page CSS Ends --------------*/


/*-------------- Site Map CSS Starts --------------*/
#sitemapcontainer{float:left; padding:0 0 20px; width:100%;}
#contentwrapper #sitemapcontainer ul{list-style-type:none;padding-left: 0;padding-bottom: 0;}
#sitemapcontainer li{ margin:8px 0;font-weight:bold;position:relative; float:left; width:100%;}
#sitemapcontainer li a{ padding:3px;text-decoration:none;margin-left:20px; display:inline-block !important;}
#sitemapcontainer li ul li{ margin:4px 0 4px 22px;font-weight:normal;padding-bottom: 0;}
#sitemapcontainer li ul li a{ padding:0 0 0 3px;}
#sitemapcontainer li ul li ul{ margin-bottom:10px;}
#sitemapcontainer li ul li ul li{ margin-left:16px;}
#sm-section-Homepage-level1 li span.collapsed{background: url(/~/media/Images/R/Rolls-Royce/css/collapsed.gif) no-repeat 0px 3px !important;}
#sm-section-Homepage-level1 li span.expanded{background: url(/~/media/Images/R/Rolls-Royce/css/expanded.gif) no-repeat 0px 3px !important;}
#sm-section-Homepage-level1 li span:not(.nowrap){background: url(/~/media/Images/R/Rolls-Royce/css/bullet-sitemap.gif) no-repeat 2px 7px;cursor: pointer;float: left;height: 17px;left: 5px;padding-left: 20px;position: absolute;top: 5px;z-index: 10;}

#contentwrapper #sitemapcontainer ul{float:left; width:100%;}
#sitemapcontainer li{margin:8px 0 0;}
#sitemapcontainer li ul li{margin:0; padding:4px 0 0 22px;}
#sitemapcontainer li ul li ul li{margin:0;}
/*-------------- Site Map CSS Ends --------------*/


/*-------------- Footer CSS Starts --------------*/
#footerwrapper{clear:both; padding:40px 0px 20px;background:#758d99;color:#fff;font-size:14px;}
.f-column{padding-top:30px;}
.footer-header{font-family:'TheMix';font-size:1.429em;line-height:1.250em;padding-bottom:10px;}
.footer-content ul li{display: table; float: left; padding:10px 0 2px;width:100%;}
.footer-content ul li a{color:#fff;text-decoration:none;}
.footer-content ul li a:hover{color:#fff;text-decoration:underline;}

.footer-content.social-media-links a{display:table;}
.footer-content.social-media-links a:hover{text-decoration:none;}
.icon{font-family:'icons'; font-size:2.5em; position:relative; top:0; padding-right:.25em; color:#fff; opacity:0.5; line-height:1em;}
.footer-content.social-media-links a:hover .icon{opacity:1; text-decoration:none;}
.footer-content.social-media-links a:hover .social-text{text-decoration:underline;}

/*.social-media-links ul li a>img{opacity:0.5;margin-right:10px;}
.social-media-links ul li a:hover>img{opacity:1;}*/
.social-text{ display: table-cell; height: 100%; line-height: 1.2em; text-align: left; vertical-align: middle; padding-left:10px;}

#footer{background:#758D99;}
.footer-logo {float: left;width: 36px;margin-right: 15px;}
.copy-text {float: left;padding-top:25px;font-size: 0.857em;line-height: 1.2em;color:#fff;}
.bottom-content {padding-top: 16px;}
.siteservices-links ul {float: right;font-size: 0.857em;line-height: 1.2em;padding-top: 27px;}
.siteservices-links ul li{float:left;padding:0 5px;border-right:1px solid #fff;}
.siteservices-links ul li.last{border:0;}
.siteservices-links ul li a{color:#fff;text-decoration:none;}
.siteservices-links ul li a:hover{color:#fff;text-decoration:underline;}
.footer-content.social-media-links{padding-top:5px;}
.column4-btn {padding: 10px 0 15px;}
.column4-btn .btn-white{margin-left:0;}
.subsribe-link{font-size:1.714em;line-height:1.250em;font-family:'TheMix';padding-top: 10px;}
.subsribe-link a,.subsribe-link a:hover{color:#fff;}
/*.rss-link {opacity:0.5;}*/
.rss-link, .rss-link:hover{text-decoration:none;}
.rss-link:hover .icon{opacity:1;}
/*-------------- Footer CSS Ends --------------*/







/*-----------------Other Css Starts-------------------------*/
@font-face {
	font-family:'TheMix';
	font-weight:normal;
    font-style:normal;
	src:url('/~/media/Files/R/Rolls-Royce/fonts/themix-500/themix-500-eot.eot');
	src:url('/~/media/Files/R/Rolls-Royce/fonts/themix-500/themix-500-eot.eot?#iefix') format('embedded-opentype'), url('/~/media/Files/R/Rolls-Royce/fonts/themix-500/themix-500-woff.woff') format('woff'), url('/~/media/Files/R/Rolls-Royce/fonts/themix-500/themix-500-svg.svg#/~/media/Files/R/Rolls-Royce/fonts/themix-500/themix-500-svg') format('svg');
}
@font-face {
	font-family:'TheMix-bold';
	font-weight:normal;
    font-style:normal;
	src:url('/~/media/Files/R/Rolls-Royce/fonts/themix-700/themix-700-eot.eot');
	src:url('/~/media/Files/R/Rolls-Royce/fonts/themix-700/themix-700-eot.eot?#iefix') format('embedded-opentype'), url('/~/media/Files/R/Rolls-Royce/fonts/themix-700/themix-700-woff.woff') format('woff'), url('/~/media/Files/R/Rolls-Royce/fonts/themix-700/themix-700-svg.svg#/~/media/Files/R/Rolls-Royce/fonts/themix-700/themix-700-svg') format('svg');
}



.box-inverse h1{color:#00afd5;}
.box-inverse{background:#004d91;color:#fff;}
.landing-page-item-outer.is-hover .landing-page-item-title-container,.signpost-item-outer.is-hover .signpost-item-title-container{position:absolute;width:100%;}
.landing-page-item-outer.is-hover,.signpost-item-outer.is-hover{position:relative;}

/* --------------- Landing Page Css Starts ---------------- */
.signpost-item-title,.signpost-item-bottom-container{padding:20px 20px;color:#fff;font-size:1.500em;font-family:'TheMix';line-height:1.19em;}

.signpost-item-outer{position:relative;}
.pos-abs{display:block;text-decoration:none;height: 100%;position: absolute;text-decoration: none;width: 100%;text-indent:-9999999px;z-index:101;background-color:#fff; opacity:0; filter:alpha(opacity=0);}
.signpost-item{margin:0px 0px 14px; }
.b-signpost-tcontent{padding:10px 0 0px}
.signpost-container {clear:both;}
.full-width-signpost-title:after{content:'';width:20px;height:20px;background:url(/~/media/Images/R/Rolls-Royce/css/pointer-r-tcm92-55432.png) no-repeat center;display:block;float:right;opacity: 0.8;}
.full-width-signpost:hover .full-width-signpost-title:after{opacity:1;}

/*
.animate-image img{left:-220px;top:0; position:relative; animation:move 15s ease forwards;-webkit-animation:move 15s ease forwards;-moz-animation:move 15s ease forwards}
*/
.contact-us-col{width:50%;vertical-align:top;}
.animate-image{height:800px;}
.animate-image img{
max-width: none;
width: 135%;

-webkit-transform:scale(1,1);
    -moz-transform:scale(1,1); 
    -ms-transform:scale(1,1); 
    -o-transform:scale(1,1); 
     transform:scale(1,1);

  animation: animationFrames ease 3s;
  position:absolute;
  left:0px;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(-270px,0px)  ;

  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  100% {

    -moz-transform:  translate(-270px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(0px,0px)  ;

  }
  100% {
    -webkit-transform:  translate(-270px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  translate(0px,0px)  ;

  }
  100% {

    -o-transform:  translate(-270px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  100% {


    -ms-transform:  translate(-270px,0px)  ;
  }
}

/* --------------- Landing Page Css Ends ---------------- */



/* ------------- Press Releases Starts ------------------ */
.news-wrapper{float:left; width:100%;}
.pr-item{padding:14px 20px 25px; background:#fff; margin:0 0 5px;}
.pr-date{}
.pr-section{background:#004d91; border-radius:5px; color:#ffffff; float:right; font-size:0.75em; padding:0 6px; text-transform:uppercase; margin:0 3px 0 0; line-height:1.619em;}
.pr-section.first{margin:0;}
.pr-title{font-family: "TheMix", Arial; font-size: 1.5em; line-height: 1.42857em; margin: 0 0 0.285714em;}
.pr-title a, .pr-title a:hover{text-decoration:none; color:#004d91;}
.notestoeditors-container{ background:#f6f6f6; margin-bottom:0.5em; padding:6px 20px;}
.block-dotted { border-bottom: 1px dotted #768d99; border-top: 1px dotted #768d99;margin: 0 0 1em; color:#004d91; padding: 0.5em 0;}
.news-wrapper .blue-bttn{float:left;margin-bottom:14px;}

.filter-wraper{float:left; width:100%; background:#fff; padding: 20px 14px 14px; margin:0 0 5px;}
.dropdown-wrap{margin:0 0 10px;}
.filter-wraper .dropdown-wrap {width: 50%;float: left;}
.label {padding: 4px 5px;}

.dropdown{position:relative;}
.selected-box{display: block;padding:3px 5px 4px;background:url(/~/media/Images/R/Rolls-Royce/css/dropdown-arrow.png) no-repeat 97% center #fff;cursor:pointer; border:1px solid #ccc;padding-right: 6%;}
#contentwrapper .dropdown ul{top:32px;left:0px; background-color:#fff; padding:0px; display:none; position:absolute; width:100%;margin:0px; list-style-type:none;  border-bottom:1px solid #ccc; border-right:1px solid #ccc; border-left:1px solid #ccc; z-index:10;margin-top: -3px; }
.dropdown ul li{padding:5px;cursor:pointer;margin:0px;}
.dropdown ul li:hover{background-color:#f6f6f6;color:#004d91;}
.dropdown ul li:hover a{color:#004d91;}
.dropdown ul li.disabled{background-color:#666;}
.first-li{display:none;}


.button-wrapper{text-align:center;clear: both;}
input#prbtnSearch {background-color:#c2d036; color:#fff; padding:7px; font-family:arial; font-size:1em; font-weight:bold;}
.freetext { border: 1px solid #cccccc; height: 30px;  padding: 2px 5px; width: 100%;}
.nojs .filter-wraper{display:none;}
.related-links-container{float:left; width:100%; padding:20px 0 0;}

.full-signpost{background-color:#86bad6; color:#004d91; float:left; font-family:"TheMix"; margin:0px 0 14px; padding:28px 20px; text-align:center; width:100%;}
.full-signpost-title{float:left; font-size:1.714em; line-height:1.25em; padding:0 0 6px; width:100%;}
.full-signpost-content{float:left; text-align:center; text-transform:uppercase; width:100%;}
.full-signpost-content a{background-color:#fff; color:#004d91; padding:6px 15px; text-decoration:none; display:inline-block;}
.full-signpost-content a:hover{text-decoration:none;}
/* ------------- Press Releases Ends ------------------ */


/* ------------- Pagination Starts ------------------ */
.sitesearchpagination{float:left; padding:12px 20px 5px; width:100%; background-color:#8db9d5; color:#fff;margin:0 0 5px; }
#contentwrapper .sitesearchpagination ul li{float:left; margin:0 4px 4px 0; padding:0;}
#contentwrapper .sitesearchpagination ul li.pagerlink{border:1px solid #fff;}
#contentwrapper .sitesearchpagination ul li.pagerlink a{color:#fff; display:block; padding:0 7px;}
#contentwrapper .sitesearchpagination ul li.pagerlink a:hover{background-color:#fff; color:#5b5b5b;}
#contentwrapper .sitesearchpagination ul li.pagerlink.currentpagerlink{color:#5b5b5b; padding:0 7px; background-color:#fff;}
#contentwrapper .sitesearchpagination ul li.pagination-dots > span{padding:5px 5px 0; float:left;}
#contentwrapper .sitesearchpagination ul li a{text-decoration:none;}
#contentwrapper .sitesearchpagination ul li.pagination-text{padding-top:2px;}
#contentwrapper .sitesearchpagination ul{list-style-type:none; padding:0;}
/* ------------- Pagination Ends ------------------ */


.page-content.box-inverse a, .page-content.box-inverse a:hover{color:#fff;}


/*--------MAP CSS Starts--------*/
#map-container{display:block;min-height:500px;float:left;width:100%;}
.map{float:left;min-height:500px;position:relative;width:100%;margin-bottom:10px;overflow:hidden;}
.map img{max-width:none;}
.map-key img{margin:0px 13px 0px 13px;}
.dropdown-institute-university{color:#000;}
.map-key .key-header{font-size:1.500em;padding:10px 0px 0px;}
.research-university-center-content{width:70%;float:left;}
.research-dropdown-container{width:30%;float:left;position:relative;}
.quick-find{float:left;width:32%;position:absolute;bottom:15px;left:0px;}
.dropdown-institute-university{float:left;width:68%;position:absolute;bottom:15px;right:0px;}
.location-info{position:absolute;left:0px;top:20px;padding:0px;width:100%;display:none;height:100%;overflow:hidden;z-index:11}
.full-black-overlay{position:fixed;width:100%;height:100%;z-index:10;background:#000; opacity:0.5;top:0px;left:0px;display:none;}
.location-box-top-bar{padding:7px 7px 0px;background:#CCCCCC;position:relative;}
.location-category{padding:13px 37px;background:#fff;display:inline-block;}
.location-box-content{background:#fff;padding: 20px 15px;height:100%;}
.location-header{border-bottom: 1px dotted #999;color:#004d91;}
.close-btn{cursor: pointer; display: block; height: 25px; overflow: hidden; position: absolute; right: 20px; text-indent: -9999px; top: 10px; width: 25px;background:url('/~/media/Images/R/Rolls-Royce/css/close-icon.png') no-repeat  }
.location-content table td:first-child{color:#004d91;font-weight:bold;width:20%;}
.location-content{padding:10px 0px 0px;}
/*--------MAP CSS Ends--------*/

a.rss-icon{font-family:"TheMix"; font-size:0.6em; line-height:1em; margin:0 0 0 6px; padding:0 0 0 20px; text-decoration:none; background:url("/~/media/Images/R/Rolls-Royce/icons/rss-icon-small.png") no-repeat scroll left 1px transparent;}
ul.rad-border.latest-news a {color:#5b5b5b; text-decoration:none;}
ul.rad-border.latest-news a:hover{color:#004d91;}


/*----------IMAGE GALLERY CSS STARTS-----------*/
.image-gallery-container-wrap{clear:both;margin-top:7px;float:left;width:100%;}
.image-gallery-landing-wrap{clear:both;float:left;width:100%;}
.image-gallery-item{margin-bottom:14px;}
.large-image{text-align:center;background:#f6f6f6;}
/*----------IMAGE GALLERY CSS ENDS-----------*/

/* -------- Full page CSs starts -------- */
.FullpageIframe{position:absolute; left:0; top:0; height:100%;}
.rad-left{float:left;padding:0 10px 10px 0px;}
.rad-right{float:right;}
/* -------- Full page CSs ends -------- */

/*.ellipsis { overflow: hidden; height: 42px;  }
.ellipsis:before { content:""; float: left; width: 5px; height: 42px; }
.ellipsis > *:first-child { float: right; width: 100%; margin-left: -5px; }
.ellipsis:after { font-size:1.2em;content: "\02026"; box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; float: right; position: relative; top: -19px; width: 50px; padding-right: 5px; text-align: center; background: -webkit-gradient(linear, left top, right top,  from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white)); background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);left: 100%;margin-left: -50px; -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#00FFFFFF, endColorstr=#FFFFFFFF)";}
#footerwrapper .ellipsis:after { font-family: 'TheMix';background: -webkit-gradient(linear, left top, right top,  from(rgba(255, 255, 255, 0)), to(rgba(117, 141, 153, 1)), color-stop(rgba(117, 141, 153, 1))); background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(117, 141, 153, 1), rgba(117, 141, 153, 1)); background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(117, 141, 153, 1), rgba(117, 141, 153, 1)); background: linear-gradient(to right, rgba(117, 141, 153, 0), rgba(117, 141, 153, 1), rgba(117, 141, 153, 1));-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#00758D99, endColorstr=#FF758D99)";}*/



/*------------------RR webforms---------------*/

.rrform-Container input{width:60%;}

.rrform-Container div[id*="Label"]{float:left; width: 29%;margin: 0 15px 14px 0;clear:left;}

.rrform-Container div[id*="Textbox"],.rrform-Container div[id*="FreeText"]{float:left; width:68%; margin:0 0 14px;}

#wfcommentsTextareaContainer{float:left; width:100%; margin:0 0 14px;}
.rrform-Container textarea#wfcommentsTextarea{ width:73%; height:140px;max-width: 73%;max-height: 140px;}

#wfcaptcha-codeCaptchaContainer{float:left; width:100%; margin:0 0 14px;}
.rrform-Container input#wfcaptcha-codeCaptchaText{width:180px;}

#wfinfo-textLabelContainer {float: none;width: 100%;}
#wfSubmitButtonContainer, #wfResetButtonContainer{float:left; margin:0 0.5em 1em 0;}
.rrform-Container input#wfSubmitButton{background-color:#004d91; color:#fff; padding:5px; width: 100%;}
.rrform-Container input#wfResetButton{background-color:#004d91; color:#fff; padding:5px; width: 100%;}
#errorDv{float:left; width:100%; color:#f94962; padding:5px 0 10px;}
.requiredField{background-color: #e5ecf5!important;border: 1px solid #f94962!important;}
#wfcaptcha-codeCaptchaCodeError{color:#f94962;}

.rad-underline{text-decoration:underline;}

/*---------------Start Investor landing rns------------*/
.news-date{white-space:nowrap;}
.inv-box-cont p a:after{content:'\e603';font-family: 'icons';font-size: .6em;}
#rnsXmlContainer .news-title a{background:none;}

/*---------------End Investor landing rns------------*/

.social-bar ul li{float:left;padding-right:10px;}






.sharepricetextval {font-size: 21px; font-family: "TheMix", Arial, Helvetica, sans-serif;color: #fff;padding: 9px 10px 3px 10px;}

.sharepriceval {font-size: 19.6px;float: left;color: #fff;}

.sharepricechngecolor {/* color: #73A373 !important; */color: #fff;float: left;padding: 3px 7px 0 5px;font-size: 14px; }

.sharepricebutton {background: none repeat scroll 0 0 #86bad6; border-radius: 0; color: #fff; display: inline-block; font-family: "TheMix-Bold",Arial,Helvetica,sans-serif; font-size: 11.86px; padding: 4px; text-decoration: none; text-transform: uppercase; white-space: nowrap; margin-top: 2px; float: right;}

.sharepricebutton:hover{color: #fff;}

.sharepricebottom {float: left;padding: 5px 10px 12px 10px; width: 100%; box-sizing: border-box; }

.sharepricemain {width: 100%; overflow: hidden; background: #004d91;}

.sharepriceimgsrc { padding: 0 2px 0 3px; float: left; }

#topsharepricetickerXmlContainer .sharepricemain {width: 100%; overflow: hidden; background: #fff;}
#topsharepricetickerXmlContainer .sharepriceval {font-size: 18px;float: left; color:#768d99; line-height: 30px;}
#topsharepricetickerXmlContainer .sharepricechngecolor-green { color: #73A373 !important; float: left;padding: 10px 7px 0 5px;font-size: 14px; }
#topsharepricetickerXmlContainer .sharepricechngecolor-red { color: #d66 !important; float: left;padding: 5px 7px 0 5px;font-size: 14px; }


#topsharepricetickerXmlContainer .sharepriceimgsrc { padding: 7px 0 0 0px; float: right; }



/*Social media page */
body#social-media #contentwrapper .tabs-container ul{margin-left: -5px;margin-right: -5px;}
body#social-media #contentwrapper .tabs-container ul li{margin-right: 0px; font-family: "TheMix"; font-size: 1.429em; line-height: 1.2em; width:50%; }
body#social-media #contentwrapper .tabs-container ul li a{text-align:left !important; height:51px;}

body#social-media #contentwrapper ul {list-style-type: none !important;padding-left: 0px !important;}
body.ip3-social-media #contentwrapper ul {list-style-type: none;padding-left: 0px !important;}

body#social-media #contentwrapper #contentwrapper .page-content ul li{float:left}
body.ip3-social-media #contentwrapper #contentwrapper .page-content ul li{float:left}

body#social-media #contentwrapper .page-content ul li a{text-decoration: none;background:none;}
body.ip3-social-media #contentwrapper .page-content ul li a{text-decoration: none;background:none;}




#contentwrapper .sm-channels {float: left;padding-bottom: 15px;}
#contentwrapper .sm-channels .sm-row{float:left; width:100%;padding: 20px;}
#contentwrapper .sm-channels .sm-row li{ padding:15px 0;}
#contentwrapper .sm-channels .sm-row li span{padding-left:10px;}
#contentwrapper .sm-channels .sm-row .title {clear: both;width: 100%;color: #004d91;float: left; font-family: "TheMix"; font-size: 1.429em; line-height: 1.2em; padding-bottom:15px;}
#contentwrapper .sm-channels .evenrow{background-color:#e6eff6}


.free-wall {margin-bottom: 15px;}
.brick{border:1px solid #dadada;width:33.33333%;}
.brick img {margin: 0px;padding: 0px;width:100%;}
.brick .feed-wrapper{ padding:10px 35px 10px 10px; float:left;  width:100%;}
.brick .feed-title{ float:left; width:100%; padding-bottom:10px;}
.brick .feed-user{ float:left; padding-right: 10px;}
.brick .feed-time{ float:left}

.brick ul li span a { padding:0 !important}


.brick ul{ padding:0 !important; margin:0!important; display: inline-block;}

.brick.facebook-icon{background: transparent url("/~/media/Images/R/Rolls-Royce/content-images/landing-page/news/icon-facebook-feed.jpg") no-repeat scroll right bottom;float:left;}

.brick.flickr-icon{background: transparent url("/~/media/Images/R/Rolls-Royce/content-images/landing-page/news/icon-flickr-feed.jpg") no-repeat scroll right bottom;float:left;}

.brick.twitter-icon{background: transparent url("/~/media/Images/R/Rolls-Royce/content-images/landing-page/news/icon-twitter-feed.jpg") no-repeat scroll right bottom;float:left;}

.brick.youtube-icon{background: transparent url("/~/media/Images/R/Rolls-Royce/content-images/landing-page/news/icon-youtube-feed.jpg") no-repeat scroll right bottom;float:left;}

.brick.instagram-icon{background: transparent url("/~/media/Images/R/Rolls-Royce/content-images/landing-page/news/icon-instagram-feed.jpg") no-repeat scroll right bottom;float:left;}

.brick.linkedin-icon{background: transparent url("/~/media/Images/R/Rolls-Royce/content-images/landing-page/news/icon-linkedin-feed.jpg") no-repeat scroll right bottom;float:left;}

@media all and (max-width: 767px){
.brick {
    border: 1px solid #dadada;
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
}
/*------ About Us Page Update-----------*/
.blueBox{background-color:#004990;padding:20px 20px 0px;margin-bottom:20px;} 
.blueBox p{color:#fff;padding:0px 0px 20px;}
.blueBox p strong{color:#00afd5;font-size: 1.429em;line-height: 1.2em;font-family: 'TheMix';font-weight:normal;}
.boxContent p{color:#fff;}
.boxContent p strong{font-family: 'TheMix';font-weight:normal;font-size:1.2em;}
.boxContent.blueCol{background-color:#004990;}
.boxContent.greyCol{background-color:#768d99;}
.boxContent.lighBlueCol{background-color:#246987;}
.boxImage img{width:100%;}
.boxContent{padding:10px;}
.boxContent1 .boxImage{margin-top:10px;}
.boxContent2 .boxImage{margin-bottom:10px;}
.boxContent3 .boxImage{margin-top:10px;}
.section2, .section3a{margin-bottom:5px;}
.boxcolContainer{margin-bottom:15px;} 

.strategy-num {color: #fff;font-size: 3.871em;}
/*---------- Home video banner text----------*/
.videoBannerText{position:absolute;bottom:11%;z-index:2001;text-align:center;width:100%;}
.videoBannerText h3{color:#fff;}
@media all and (max-width:767px){
.videoBannerText{position:relative;background: #155b98;padding: 11px 10px 11px;text-align:left;}
.videoBannerText .btn-white{margin-left:0px;}
}

@media all and (min-width: 400px) and (max-width:560px){
.section1-title h2 {font-size: 2em;}
}
@media all and (max-width:400px){
.section1-title h2 {font-size: 2em;}
}
.btn-white {
    font-family: 'TheMix';
    text-decoration: none;
    color: #fff;
    padding: 7px 15px;
    margin: 5px 8px;
    border: 1px solid #fff;
    text-transform: uppercase;
    background: transparent;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    display: inline-block;
}
.btn-white:hover {
    background: #fff;
    text-decoration: none;
    color: #004d91;
}
.icon {
    font-family: 'icons';
    font-size: 2.5em;
    position: relative;
    top: 0;
    padding-right: .25em;
    color: #fff;
    opacity: 0.5;
    line-height: 1em;
}

#auto-top-link {
    font-family: "TheMix";
    display: none;
    position: fixed;
    float: left;
    bottom: 5px;
    right: 10px;
    color: #fff;
    border: 1px solid #004d91;
    background-color: #004d91;
    font-weight: normal;
    z-index: 101;
    text-decoration: none;
    padding: 10px 10px;
	font-size:16px;
    webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.line_height{
	line-height:1.5;
}


.free {
    background-image: url(img/icon-sprite-free.png?1.1);
}


@media (-webkit-max-device-pixel-ratio: 1.99), (max-resolution: 191dpi){


.free {
    background-image: url(img/icon-sprite-free.png?1.1);
}
}

.free {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 1040px 1088px;
    width: 32px;
    height: 32px;
}
.free-uniEA96 {
    background-position: -720px -864px;
}
.go_white{
	color:#ffffff;
}
.loginScreen{
width: 970px;
    margin: 0 auto;
    position: relative;
	padding-top:70px;
	padding-bottom:70px;
	padding-left:30px;
}
.forumScreen{
width: 970px;
    margin: 0 auto;
    position: relative;
	padding-top:30px;
	padding-bottom:30px;
	background:#b8d3e5;
}
label{
font-size:16px;
color:#333333;
}

.loginScreen h3{
font-size:22px;
}
.forumScreen h3{
font-size:22px;
}
h3{
	font-family: arial;
	font-weight: bold;
}
.light_grey{
	width:970px;
	background:#b8d3e5 ;
	margin:0 auto;
}
.btn-default{
	border:1px solid #cccccc;
	font-weight:bold;
}
h1{
	font-size:40px;
}
.border_top{
	border-top:1px solid darkgrey;
}
.border_top_post_details {
    border-top: 2px solid darkgrey;
    width: 75%;
}
.posts{
	font-size:15px;
	font-weight: bold;
	color:#333333;
	padding-top:15px;
}
.clear_fix{
	clear:both;
}
.mtb10{
	margin-top:10px;
	margin-bottom:10px;
}
.ml40{
	margin-left:40px;
}
.link:hover{
color: steelblue;
text-decoration: underline;
}
.link{
	cursor:pointer;
	font-size: 21px;
}
.ml20{
	margin-left:20px;
}
.font30{
	font-size:30px;
}
.mtb20{
	margin-top:20px;
	margin-bottom:20px;
}
.pd18{
	padding-bottom: 18px;
}
.commentText{
color:black;
font-size:15px;
    margin-bottom: 20px;
   
    width: 70%;
    word-wrap: break-word;
    padding: 20px;
}
.display_inline{
	display: inline-block;
}
.page_content{
    background: #fff;
    padding: 15px 42px 5px;
    margin-bottom: 14px;
    width: 90%;
    height:335px;
    margin-left: 28px;
}
.page_content_forum{
	background: #fff;
    padding: 15px 20px 5px;
    margin-bottom: 14px;
    width: 90%;
    margin-left: 49px;
}
.col {
    width: 119%;
}
.Username1{
	float: left;
    padding: 5px;
    font-size: 20px;
    margin-left: -5px;
    margin-top: -16px;
}
.Username2{
	float: left;
    padding: 5px;
    font-size: 20px;
    margin-left: -5px;
    margin-top: -8px;
}
