<div class="forumScreen">
<div class="page_content_forum">
<div class="ml20">
 <div class="font30">

</div>
<div class="font30 mtb20">Message Boards</div>

<div id="commentspost">
<h3><span style="font-weight:bold;font-family:arial "> {{post.postTitle}}</span></h3>
<div style="color:black;font-size:15px;line-height: 1.5;margin-bottom:0px;margin-left: -19px;" class="commentText">{{post.postDesc}}</div>
<p style="margin-top:-5px;font-size:15px;color:black;font-weight:bold;">	Comments:</p>
<div class="border_top_post_details"></div>
	<div *ngFor="#row of post.comments" style="margin-top: 5px;">

	<span style="font-size: small;font-style: italic;">Posted on {{ row.commentedDateAndTime}} by {{row.commentedBy}}</span>
	<div style="color:black;font-size:15px;line-height: 1.5;margin-bottom:0px;" class="commentText">{{row.commentedText}}</div>

	<div class="border_top_post_details"></div>
	</div>
	<div style="margin-bottom:20px;">
	<textarea id="comment" rows="4" cols="71" #commentmsg></textarea>
		<br>
		<br>	
		<button type="submit" class="btn-default btn" (click)="addComment(commentmsg.value)" style="height:31x;margin-left:1px;">Comment</button>
		<button type="submit" class="btn-default btn"  style="height:31x;margin-left:12px;"
		(click)="backToForum()">Back</button>
	</div>
	</div>
	



</div>
</div>
</div>
